@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(imagens/ponte-de-madeira-para-a-praia-durante-o-por-do-sol.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

form {
    background-color: #fff;
    max-width: 500px;
    height: 450px;
    padding: 40px;
    border-radius: 20px;
}

form h1{
    text-align: center;
    font-size: 30px;
    color: #923725;
}

form p{
    text-align: center;
    margin: 20px 0
}